* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.weather {
  /* background: linear-gradient(#93f9b9, #1d976c); */
  /* background: radial-gradient(#93f9b9, #1d976c); */
  background: linear-gradient(#26d0ce, #3956ff);
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.weather-icon {
  /* background: red; */
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 80px;
  flex: 1;
}
.weather-details {
  /* background: pink; */
  display: flex;
  height: 30%;
}
.weather-details-locname {
  /* background: magenta; */
  display: flex;
  flex: 1;
}
.weather-details-temp {
  /* background: yellow; */
  display: flex;
  flex: 1;
}

.weather-details-locname h1 {
  margin: auto;
  color: lightgrey;
  font-size: 40px;
}
.temp-temperature {
  display: flex;
  color: lightgray;
  margin: auto;
}
h3#summary {
  text-align: center;
  color: rgb(238, 238, 238);
  font-style: italic;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
}
h2#temp,
h3#temp-unit {
  padding-left: 5px;
  font-size: 40px;
}

.icon {
  /* display: flex; */
  /* background: red; */
  /* flex: 1; */
  margin: auto;
  /* align-items: center; */
  /* justify-content: center; */
  /* width: 100%; */
}
#icon1 {
  /* background: #26d0ce; */
}
.summary {
  /* background: yellow; */
  /* flex: 1; */
}
/* 
@media only screen and (max-width: 600px) {
  .weather {
    background: lightblue;
  }
} */
